<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="footer" th:align="center" class="page-footer fixed-bottom bg-primary text-white">
    <!--  Application footer  -->
    <div class="footer-copyright text-center py-3">
        &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2020</span>
        <span>Time Off Management System</span>
    </div>
</footer>

</body>
</html>