<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="common_header(title,links)">
    <!-- ~{::title},~{::link} -->
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="UTF-8" />
    <title th:replace="${title}">Time Off Management System</title>
     <link rel="shortcut icon" type="img/png" th:href="@{/img/favicon.ico}"/>

    <!-- CSS only -->
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <link th:href="@{/css/common.css}" rel="stylesheet">
    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}" />

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>

<header th:fragment="header">
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <!--  NAVBAR  -->
        <a class="navbar-brand" th:href="@{/}">Time Off Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" th:if="${#authorization.expression('isAuthenticated()')}">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/myRequests}">My requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/myTeam}">My team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/myReviews}">My reviews</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('APPROVER')">
                    <a class="nav-link" th:href="@{/myApprovals}">My approvals</a>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasAnyAuthority('HR', 'ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownHr" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        HR
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/hr/requests}">All requests</a>
                        <a class="dropdown-item" th:href="@{/hr/approvals}">All approvals</a>
                        <a class="dropdown-item" th:href="@{/hr/reviews}">All reviews</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/hr/user}">Manage users</a>
                        <a class="dropdown-item" th:href="@{/hr/teams}">Manage teams</a>
                        <a class="dropdown-item" th:href="@{/hr/countries}">Manage countries</a>
                    </div>
                </li>
                <li class="nav-item dropdown" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/admin/user}">Users</a>
                        <a class="dropdown-item" th:href="@{/admin/user/roles}">Roles</a>
                        <a class="dropdown-item" th:href="@{/admin/teams}">Teams</a>
                        <a class="dropdown-item" th:href="@{/admin/countries}">Country</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" th:href="@{/actuator/health}">Actuator Health</a>
                        <a class="dropdown-item" th:href="@{/actuator/info}">Actuator Info</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdownUser" role="button">
                        Welcome <span sec:authentication="name">Username</span>
                    </a>
                    <div aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" th:href="@{/user/{id}(id=${#authentication.name})}">My account</a>
                        <span class="dropdown-item">Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span></span>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout" th:href="@{/logout}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div th:fragment="notifications_modal" th:if="${message != null}">
    <!-- Modal fragment to show notifications when ${message} variable is present -->
    <!--Modal-->
    <div class="modal" tabindex="-1" role="dialog" id="messageModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <span th:text="${message}"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(window).on('load', function(){
            $('#messageModal').modal('show');
        });
    </script>
    <!--//Modal-->
</div>

<footer th:fragment="footer" th:align="center" class="page-footer fixed-bottom bg-primary text-white">
    <!--  Application footer  -->
    <div class="footer-copyright text-center py-3">
        &copy; <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}">2020</span>
        <span>Time Off Management System</span>
    </div>
</footer>
</body>
</html>