<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: common_header(_,_)">
</head>
<body>
<div th:replace="fragments/layout :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <form th:action="@{/admin/user/{mode}/{id}(mode=${editMode},id=${user.id})}" method="post" th:object="${user}">
                <label>User</label>
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <div class="col-8">
                        <input type="text" th:field="*{username}" placeholder="Username" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-8">
                        <input type="password" id="password" name="password" th:value="*{password}" placeholder="password" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-8">
                        <input type="text" th:field="*{email}" placeholder="Email address" class="form-control" required>
                        <span th:errors="*{email}" class="invalid-feedback"></span>
                    </div>
                </div>
                <label>Basic Info</label>
                <div class="form-group">
                    <div class="col-8">
                        <input type="text" th:field="*{firstName}" placeholder="First name" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-8">
                        <input type="text" th:field="*{lastName}" placeholder="Lastname" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-8">
                        <label th:for="startDate">Start date</label>
                        <input type="datetime-local" class="form-control"
                               th:field="*{startDate}" th:value="${#temporals.format(user.startDate, 'dd-MM-yyyy')}" required>
<!--                        th:value="${#temporals.format(user.startDate, 'dd-MM-yyyy')}"-->
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-8">
                        <label th:for="country">Country</label>
                        <select class="form-control" th:field="*{country.code}">
                            <option selected disabled value="">Choose...</option>
                            <option th:each="countryOpt : ${countryList}"
                                    th:value="${countryOpt.code}"
                                    th:text="${countryOpt.name}">Admin
                            </option>
                        </select>
                    </div>
                </div>
                <label>Admin</label>
                <div class="form-group">
<!--                    <div class="col-8">-->
<!--                        <label th:for="roles">Roles</label>-->
<!--                        <select class="form-control" multiple="multiple" th:fields="*{roles}">-->
<!--                            <option th:each="roleOpt : ${roleList}"-->
<!--                                    th:value="${roleOpt.id}"-->
<!--                                    th:selected="${user.roles == null ? #arrays.contains(user.roles, roleOpt) : false}"-->
<!--                                    th:text="${roleOpt.name}">Admin-->
<!--                            </option>-->
<!--                        </select>-->
<!--                    </div>-->
                    <div class="col-8">
                        <label th:for="roles">Roles</label>
<!--                        <input th:each="roleOpt : ${roleList}" type="checkbox" th:field="*{role[__${roleOptStat.index}__]}"-->
<!--                               th:text="${roleOpt.name}" th:checked="${#arrays.contains(user.roles, roleOpt)}"/>-->
<!--                        <ul>-->
<!--                            <li th:each="roleOpt : ${roleList}">-->
<!--                                <input type="checkbox" th:field="|*{roles[__${roleOptStat.index}__]}.id|" th:value="${roleOpt}"/>-->
<!--                                <label th:for="${#ids.prev('user.roles')}" th:text="${roleOpt.name}">Admin</label>-->
<!--                            </li>-->
<!--                        </ul>-->

                    </div>
                </div>
                <div class="form-group">
                    <div class="col-8">
                        <label th:for="teams">Teams</label>
                        <select id="teams" class="form-control" multiple="multiple" th:field="*{teams}">
                            <option th:each="teamOpt : ${teamList}"
                                    th:value="${{teamOpt.id}}"
                                    th:text="${teamOpt.name}">Admin
                            </option>
                        </select>

<!--                        th:selected="${user.teams == null ? #arrays.contains(user.teams, teamOpt) : false}"-->
<!--                        -->
<!--                        <ul>-->
<!--                            <li th:each="teamOpt : ${teamList}">-->
<!--                                <input type="checkbox" th:field="*{teams}" th:value="${teamOpt.id}"/>-->
<!--                                <label th:text="${teamOpt.name}">Admin</label>-->
<!--                            </li>-->
<!--                        </ul>-->
                    </div>
                </div>
                <div class="form-group">
                    <a th:href="@{/admin/user}" class="btn btn-warning">Back</a>
                    <button name="submit" type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="fragments/layout :: footer"></footer>
</body>
</html>